.navbar
  - if session[:user_id]
    %p.navbar-right
      = link_to "log out", session_path(session[:user_id]), method: :delete if session[:user_id]
      %p.navbar-left
        = link_to "pretty instagram", root_path
      %p.navbar-right
        profile
      %p.navbar-right
        = link_to "about", about_path
      %p.navbar-right#add_photo_trigger
        add photos
      .clear-fix.hidden
      .add_photos
        .done
          done
  - else
    %p.navbar-left
      = link_to "pretty instagram", root_path
    %p.navbar-right.borderless
      = link_to "about", about_path
