!!!
%html
  %head
    %title Source
    = stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Bad+Script|Waiting+for+the+Sunrise|Shadows+Into+Light|Indie+Flower|Shadows+Into+Light+Two|Rock+Salt|Covered+By+Your+Grace|Homemade+Apple|Coming+Soon|Crimson+Text|Handlee|Permanent+Marker'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navigation'
    = yield